*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Acme", sans-serif;
}

/*nav bar*/
.nav{
    color: white;
    background-color: rgb(137, 175, 240);
    display: flex;
    padding: 1.5% 10%;
    justify-content: space-between;
    align-items: center;
    
}

.nav h1{
    font-size: 40px;
}
.city-list{
   list-style: none;
   display: flex;
   align-items: center;
   width: 35%;
   justify-content: space-between;
   padding-right: 3%;
   
}

.city-list a{
    text-decoration: none;
    color: white;
}

.temperature p{
    padding-left: 10%;
    letter-spacing: 0.8px;
    font-size: 18px;
    width: 200px;
}
#temp-select{
    width: 18%;
    height: 30px;
}

/*Main section*/
.main-sec{
    padding-left: 10%;
    padding-right: 10%;
    height: 100%;
}

/*top bar*/
.top-bar{
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.temperature{
    display: flex;
    justify-content: space-between;
    width: 25%;
    align-items: center;
}
hr{
    background-color: black;
    border-style: solid;
    margin-bottom: 2%;
}

/*weather-box*/
.weather{
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.weather-box{
    background-color: lightgray;
    padding: 2%;
    width: 19%;
    height: 400px ;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 1px;
}
.weather-box img{
    border-radius: 50%;
    width: 70%;
    height: 40%;  
}

.weather-box p{
    font-size: 22px;
}

.temp-display{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    font-size: 25px;   
}

#high{
    color: red;
    padding-right: 40%;
    
}

#low{
    color: rgb(93, 141, 255); 
}

/*Cookie box */
.cookie{
    margin-top: 1%;
    background-color: lightgray;
    padding: 1.5% 3% ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-style: solid ;
    border-width: 3px;
}

.condition{
    padding-left: 3%;
    padding-right: 5%;
}
.condition p{
    font-weight: lighter;
}

#accept-btn{
    background-color: rgb(74, 131, 224);
    width: 100px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 4px 4px 4px black;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}
